<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuril.logindemo.mapper.AccountMapper">

    <select id="selectByUsernameAndPassword" resultType="com.kuril.logindemo.pojo.Account">
        select id, username, password,role
        from account
        <where>
            <if test="username!=null">
                username = #{username}
            </if>
            <if test="password!=null">
                and password = #{password}
            </if>
        </where>
    </select>
</mapper>